<launch>
  	<!-- Turtlebot bringup -->
	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  	<!-- Laserscan launch -->
	<include file="$(find rplidar_ros)/launch/rplidar.launch"/>
	<!-- Arm launch -->
	<include file="$(find rchomeedu_arm)/launch/arm.launch"/>
	<!-- mapping -->
        <include file="$(find turtlebot_teleop)/launch/logitech.launch"/>	
        <!-- rviz -->
	<include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>
	<!-- mapping --> 
	<include file="$(find turtlebot_navigation)/launch/gmapping_demo.launch"/>
</launch>
